# Ignore the specific datasets folder
datasets/

# Ignore ALL CSV files (this covers event_info.csv and comma_event_info.csv)
*.csv

# Ignore Jupyter Notebook temporary checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/


venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc

